/app/config.php
/certs/*
!/certs/.gitkeep
/logs/*
!/logs/.gitkeep
/ssh/*
!/ssh/.gitkeep
/app/zaprelists/*
!/app/zaprelists/.gitkeep
/sftp-config.json
/tg.pyr
/config/wg0.conf
/config/wg1.conf
/config/hwid.json
/config/xray.json
/config/xray_backup.json
/config/xray.stats
/config/clients.json
/config/clients1.json
/config/mtprotosecret
/config/mtprotodomain
/config/pac.json
/config/AdGuardHome.yaml
/config/ocserv.passwd
/config/deny
/config/sslocal.json
/config/ssserver.json
/todo.todo
/app/zapretlists/*
!/app/zapretlists/.gitkeep
.vscode/
.idea/
mirror/.env
update/*
!update/update.sh

override.env
override.html
override.php
docker-compose.override.yml
backup.json
app/webapp/override/
.rest
.env

/subscription.php
location.conf
override.conf
i18n.override.php